body {
    position: relative;
    padding: 0;
    margin: 0;
}



#main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( #5d1dac 0%, #aaa1db 65%) no-repeat;;
}

#part2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #aaa1db;
    ;
}

#header {
    position: fixed;
    z-index: 2;
    display: flex;
    margin: 0;
    padding: 0;
}